{% extends 'base.html' %}

{% block title %}
Acerca
{% endblock %}

{% block body %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </tr>
            </thead>
            <tbody>
                {% for r in variable %}
                <tr>
                    <th>{{r.id}}</th>
                    <td>{{r.nombre}}</td>
                    <td>{{r.apellido}}</td>
                    <td><a href="editar/{{ r.id }}">Editar</a></td>
                    <td><a href="eliminar/{{ r.id }}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}